<div class="bootstrap-wrapper">
    <div class="container">
        <div class="mt20">
            <div class="col-md-10 offset-md-1 text-center">
                <h1>Welcome to Teacher Section !! </h1>
            </div>
            <div class='submit-container'>
                <div class="submit-btn" (click)="navigateToStudentPage()">Go to Student Section</div>
              <!-- <a href="http://localhost:3000"><div class="submit">I am a Student</div></a> -->
            </div>
        </div>
    </div>
</div>





