<div mat-subheader class="text-center"> 
    <span class="font-family font-bolder-larger font-color"> Menu </span>
</div>

<mat-card >
    <mat-action-list class="items-center">
        
        <div>
            <button mat-list-item routerLink="/admin/home">
                <mat-icon style="vertical-align: bottom;"> home </mat-icon>
                <b class="font-color font-family"> Home </b>
            </button>
            <hr class="hr-divider">
        </div>

        <div>
            <button mat-list-item routerLink="/admin/profile">
                <mat-icon style="vertical-align: bottom;"> account_circle </mat-icon>
                <b class="font-color font-family" > Profile </b>
            </button>
            <hr class="hr-divider">
        </div>

        <div>
            <button mat-list-item routerLink="/admin/categories">
                <mat-icon style="vertical-align: bottom;"> category </mat-icon>
                <b class="font-color font-family" > Categories </b>
            </button>
            <hr class="hr-divider">
        </div>

        <div>
            <button mat-list-item routerLink="/admin/create-category">
                <mat-icon style="vertical-align: bottom;"> create_new_folder </mat-icon>
                <b class="font-color font-family" > Add Category </b>
            </button>
            <hr class="hr-divider">
        </div>

        <div>
            <button mat-list-item routerLink="/admin/quizzes">
                <mat-icon style="vertical-align: bottom;"> quiz </mat-icon>
                <b class="font-color font-family" > Quizzes </b>
            </button>
            <hr class="hr-divider">
        </div>

        <div>
            <button mat-list-item routerLink="/admin/create-quiz">
                <mat-icon style="vertical-align: bottom;"> post_add </mat-icon>
                <b class="font-color font-family" > Add Quiz </b>
            </button>
        </div>

    </mat-action-list>
</mat-card>
