.submit-container{
    display: flex;
    gap: 10px;
    margin: 10px auto;
}


.width80 {
    width: 80%;
    display: flex;
    justify-content: center;
    background: #ad4aba;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    color: #fff;
    background: #a429b5;
    border-radius: 50px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.heading{
    font-size: 1.7rem;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}